* {
  margin: 0;
  font-family: "Work Sans", sans-serif;
}
/* shared section */
.primary-btn {
  font-size: 20px;
  font-weight: 600;
  color: #005FAC;
  background-color: #ffffff;
  margin-top: 32px;
  padding: 20px 25px;
  border: none;
  border-radius: 5px;
}

/* header section */
.header {
  background-image: url("../images/banner/banner3.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 800px;
  width: 100%;
  text-align: end;
}

.header-content {
  padding-top: 150px;
  padding-right: 120px;
  padding-left: 650px;
}

.header-title {
  color: #ffffff;
  font-weight: 700;
  font-size: 65px;
}
.header-description {
  color: #ffffff;
  font-size: 16px;
  line-height: 26px;
  margin-top: 24px;
}

/* main section */

/* failures section */
.failures {
  display: flex;
  align-items: center;
  margin: 130px;
}
.failures-img {
  width: 500px;
  height: 700px;
  margin-right: 87px;
}
.failures-title {
  color: #151414;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 24px;
}
.failures-description,
.failures-list {
  color: #444343;
  font-size: 16px;
  line-height: 26px;
}
.failures-list {
  margin-top: 14px;
}

/* my plans section */

.plans-details {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 80px;
  margin-top: 60px;
  margin-bottom: 130px;
}

.plans-heading {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
}
.plans-title {
  color: #151414;
  font-size: 30px;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 16px;
}
.plans-description {
  color: #737272;
  font-size: 25px;
  font-weight: 500;
}

/* mindset section */

.mindset {
  background-image:
    url('../images/gradient1.png'),
    url("../images/watch.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 300px;
  margin-bottom: 130px;
}

.mindset-title{
  font-size: 40px;
  font-weight:700;
  color: #ffffff;
}
.mindset-div{
  padding-left: 150px;
  padding-top: 50px;
  padding-right: 500px;

}

/* footer section */
.footer{
  background-color: #151414;
  display: flex;
  justify-content: space-between;
  gap: 150px;
  padding: 130px 150px;
}

.future-heading{
  font-size: 45px;
  font-weight: 700;
  color: #F8F8F8;
}
.future-description{
  color: #ffffff;
  font-size: 16px;
  line-height: 26px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.future-img{
  margin-right: 20px;
}

.subscribe-heading{
  color: #ffffff;
  font-size: 25px;
  font-weight: 600;
}
#email{
  color: #F3F3F3;
  background-color:#151414;
  font-size: 18px;
  border: 1px solid #ffffff;
  border-radius: 8px;
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 20px 80px 20px 20px;
}
.subscribe-btn{
  color: #ffffff;
  background-color: #005FAC;
  font-size: 20px;
  font-weight: 600;
  padding: 20px 36px;
  border: none;
  border-radius: 8px;
}